name: Deploy to Server

on:
  push:
    branches:
      - main
      - staging
      - prod
  workflow_dispatch:

jobs:
  deploy:
    if: >-
      github.ref == 'refs/heads/main' ||
      github.ref == 'refs/heads/staging' ||
      github.ref == 'refs/heads/prod'
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      ref: ${{ github.ref_name }}
    secrets: inherit
