name: Redeploy after integration tests
on:
  workflow_run:
    workflows: [ "Pre-merge Integration Tests" ]
    types: [ completed ]
jobs:
  redeploy:
    name: Re-deploy ${{ github.event.repository.default_branch }} to DEV
    if: >
      github.event.workflow_run.event == 'pull_request_target' &&
      (
        contains(github.event.workflow_run.pull_requests[0].labels.*.name, 'needs-integration-tests') ||
        (github.event.workflow_run.conclusion != 'skipped')
      )
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      ref: ${{ github.event.workflow_run.repository.default_branch }}
      environment: dev
    secrets: inherit
